*{
    font-family: 'Inter', sans-serif;
}

body{
    background: #f4f4fc;
}

.logo{
    margin-top: 15px;
    margin-left: 15px;
    width: 1.5%;
}

main{
    display: flex;
    margin-left: 40px;
    margin-bottom: 40px;
}

.boxMensaje{
    border: none;
    background-color: #f4f4fc;
    color:#0A3871;
    font-size: 32px;
    font-weight: 400;
    height: 350px;
    margin-top: 50px;
    padding: 2px;
    text-transform: lowercase;
}

.boxMensaje:focus{
    outline: none;
}

::placeholder{
    color: #0A3871;
}

.info{
    color:#495057;
    font-size: 18px;
    margin-top: 32px;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.encriptar{
    border: none;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    text-align: center;
    width: 328px;
    height: 67px;
    cursor: pointer;
}

.desencriptar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    background-color:#D8DFE8;
    color:#0A3871;
    font-size: 16px;
    text-align: center;
    width: 328px;
    height: 67px;
    cursor: pointer;
    margin-left: 40px;
}

.display{
    background: white;
    height: 530px;
    width: 350px;
    border: none;
    border-radius: 24px;
    margin-left: 90px;
    padding: 20px 0 0 20px;
    position: relative;
    display: block;
    box-shadow: 0px 24px 32px 0px rgba(0,0,0,0.30);
}

.noMostrar{
    display: none;
}

.munieco{
    margin-top: 20px;
}

.noMensaje{
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.indicacion{
    text-align: center;
    margin-top: 10px;
}

.botonCopiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color:#0A3871;
    font-size: 16px;
    text-align: center;
    width: 328px;
    height: 67px;
    cursor: pointer;
    margin-top: 30px;
    display: none;
}

footer{
    text-align: center;
    height: 20px;

}